* {
    box-sizing: border-box;
}
html{
scroll-behavior: smooth;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}


a{
    margin: 0px 0px 0px 30px;
}

h1,
h2,
h3,
h4,
p,
a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1{
    font-size: 25px;
}

header {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 5%;
    box-sizing: border-box;
    transition: 0.5s;
    flex-wrap: wrap;
    z-index: 1;
}

.logo{
    margin: 10px 0px 0px 0px;
}

.imagen1{
    float: right;
    margin-left: 900px;
    position: absolute;
    margin-top: -221px;
}

.imagen1:hover {
    transform: rotate(200px);
    transition: 0,5s;
}

.imagen2{
    float: right;
    margin-left: 856px;
    position: absolute;
    margin-top: -560px;
}

.imagen3{
    float: left;
    margin-left: 42px;
    position: absolute;
    margin-top: 114px;
}

.imagen4{
    float: left;
    margin-left: -730px;
    position: absolute;
    margin-top: -260px;
}

@media screen and(max-width:600px){
nav{
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
}

@media screen and(min-width:599px){
    header{
        display:flex;
        justify-content:baseline;
        align-items: center;
        flex-wrap: wrap;
    }
    
}

.header .nav-links {
    list-style: none;
    display: flex;
}

.nav-links {
    display: flex;
    align-content: space-between;
}


.header .nav-links .li {
    display: inline-block;
    padding: 0 20px;
}

.info{
    margin-top: 190px;
    margin-left: 58px;
}

.works{
    margin-top: 76px;
    margin-right: 124px;
    float: right;
}

.studie {
    margin-top: 94px;
    margin-left: 263px;
}

.skill {
    margin-top: 76px;
    margin-right: 100px;
    float: right;
}

.refe {
    margin-top: 80px;
    margin-left: 240px;
}

.link {
    margin-top: 227px;
    margin-right: 274px;
    float: right;
    display: flex;
}

.contacts {
    margin-top: 103px;
    margin-left: 236px;
}

li{
    display: flex;
    justify-content: space-between;
}

/* .workmenu{
margin: 1px 1px 1px 1px;
} */

footer {
    background-color: blueviolet;
    color: white;
    width: 100%;
    height: 80px;
    padding: 0 5%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
}

.footer-text{
    float: right;
    margin: 0px 0px 24px 850px;
}

.animate__backInLeft {
    -webkit-animation-name: backInLeft;
    animation-name: backInLeft;
    margin-left: 158px;
}

#logo-soft{
    margin: 276px 0px 0px 0px;
}

.angular{
    margin: 111px 124px 386px 194px;
}

.figma{
    margin: -588px 548px 407px 541px;
}

.vscode{
    margin: -291px 173px 119px 180px
}

.vue{
    margin: -311px 0px 0px 511px;
}

#logo-soft-dos{
float: right;
    margin-right: 215px;
    margin-top: -840px;
}

.html-cinco{
    margin: 0px 0px 0px 0px;
}

.css-tres{
    margin: 0px 0px 0px 0px;
}

.types{
    margin: 0px 0px 0px 0px;
}

.react{
    margin: 0px 0px 0px 0px;
}

#logo-soft-tres{
    margin: 261px 0px 0px 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.psd{
    margin: 0px -70px 0px 0px;
}

.after{
    margin: 0px -70px 0px 0px;
}

.blender{
    margin: 0px -70px 0px 0px;
}

.cubase{
    margin: 0px 70px 0px 0px;
}

#logo-soft-cuatro{
    margin: -256px 221px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: right;
}

.tiomusa{
    margin: 0px 70px 0px 0px;
}

.someco{
    margin: 0px 0px 0px 0px;
}

h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}